#building {
  background: #1c1e53;
}

.navbar {
  background: #1c1e53 !important;
}
.navbar a {
  color: white;
}
.navbar a:hover {
  color: #bbbbcb;
}
.navbar .btn {
  color: white;
  border: 1px solid black;
  width: 145px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 41px;
  border: 2px solid rgba(244, 246, 252, 0.2);
}
.navbar .btn:hover {
  color: #bbbbcb;
}
.navbar .offcanvas {
  background: #1c1e53 !important;
}
.navbar .offcanvas-body {
  color: white;
}
.navbar .navbar-toggler {
  color: white;
  background: white;
}

#our {
  padding: 128px 0;
}

.plan .plan__word {
  padding-top: 50px;
  text-align: center;
}
.plan .plan__word h1 {
  color: var(--dark-blue, #282938);
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 64px;
}
.plan .plan__word p {
  padding-bottom: 64px;
  color: var(--dark-blue, #282938);
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}

.plan__card {
  gap: 100px;
  align-items: center;
  margin: 0 auto;
  display: flex;
}
.plan__card .card__grid {
  border-radius: 12px;
  background: #f4f6fc;
}
.plan__card .card__grid .card__h1 {
  display: flex;
  align-items: center;
  gap: 12px;
}
.plan__card .card__grid h1 {
  color: var(--dark-blue, #282938);
  font-family: Poppins;
  font-size: 38px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px; /* 147.368% */
}
.plan__card .card__grid h6 {
  color: var(--royal-blue, #2405f2);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
}
.plan__card .card__grid h3 {
  color: var(--dark-blue, #282938);
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px; /* 150% */
}
.plan__card .card__grid p {
  color: var(--dark-blue, #282938);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 175% */
}
.plan__card .card__grid .pointer {
  display: flex;
  padding-top: 90px;
  gap: 12px;
}
.plan__card .card__grid .pointer h4 {
  color: #282938;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
}
.plan__card .card__grid .point {
  padding-top: 20px;
  display: flex;
  gap: 12px;
}
.plan__card .card__grid .point h4 {
  color: var(--dark-blue, #282938);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
}
.plan__card .card__grid .btn {
  padding-top: 78px;
}
.plan__card .card__grid .btn button {
  display: inline-flex;
  padding: 16px 56px;
  color: white;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 41px;
  background: black;
}
.plan__card .card__grid .btn button:hover {
  color: black;
  background: #fcd980;
  transition: 1s;
}
.card__grid:hover {
  background: #1c1e53;
  color: white;
  transition: 1s;
}
.card__grid:hover p,
.card__grid:hover h1,
.card__grid:hover h3,
.card__grid:hover h4,
.card__grid:hover h6 {
  color: white !important;
}

#foot {
  background: #1c1e53;
  padding: 100px;
}

.father {
  align-items: center;
}
.father .child .card-fath {
  display: flex;
  padding: 1px 1px;
  background: var(--yellow, #fcd980);
}
.father .child .card-fath .card-1 {
  padding-left: 50px;
}
.father .child .card-fath .card-1 h4 {
  color: var(--dark-blue, #282938);
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 100;
  line-height: 31px; /* 177.778% */
}
.father .child .card-fath .card-2 {
  padding-left: 50px;
}
.father .child .img {
  gap: 50px;
}
.father .child p {
  color: var(--dark-blue, #282938);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 100;
  line-height: 29px; /* 175% */
}
.father .child h3 {
  color: #fff;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 64px; /* 133.333% */
}