.plan .plan__word {
  padding-top: 128px;
  padding-bottom: 64px;
}
.plan .plan__word h1 {
  color: var(--dark-blue, #282938);
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 64px;
}
.plan .plan__word p {
  color: var(--dark-blue, #282938);
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}

.plan__card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
}
.plan__card .card__grid {
  padding: 64px 141px 65px 48px;
  flex-shrink: 0;
  border-radius: 12px;
  background: #f4f6fc;
}
.plan__card .card__grid .card__h1 {
  display: flex;
  align-items: center;
  gap: 12px;
}
.plan__card .card__grid h1 {
  color: var(--dark-blue, #282938);
  font-family: Poppins;
  font-size: 38px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px; /* 147.368% */
}
.plan__card .card__grid h6 {
  color: var(--royal-blue, #2405f2);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
}
.plan__card .card__grid h3 {
  color: var(--dark-blue, #282938);
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px; /* 150% */
}
.plan__card .card__grid p {
  color: var(--dark-blue, #282938);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 175% */
}
.plan__card .card__grid .pointer {
  display: flex;
  padding-top: 90px;
  gap: 12px;
}
.plan__card .card__grid .pointer h4 {
  color: #282938;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
}
.plan__card .card__grid .point {
  padding-top: 20px;
  display: flex;
  gap: 12px;
}
.plan__card .card__grid .point h4 {
  color: var(--dark-blue, #282938);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
}
.plan__card .card__grid .btn {
  padding-top: 78px;
}
.plan__card .card__grid .btn button {
  display: inline-flex;
  padding: 16px 56px;
  color: white;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 41px;
  background: black;
}
.plan__card .card__grid .btn button:hover {
  color: black;
  background: #fcd980;
  transition: 1s;
}

.card__grid:hover {
  background: #1c1e53;
  color: white;
  transition: 1s;
}