#building {
  background: #1c1e53;
}

.navbar {
  background: #1c1e53 !important;
}
.navbar a {
  color: white;
}
.navbar a:hover {
  color: #bbbbcb;
}
.navbar .btn {
  color: white;
  border: 1px solid black;
  width: 145px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 41px;
  border: 2px solid rgba(244, 246, 252, 0.2);
}
.navbar .btn:hover {
  color: #bbbbcb;
}
.navbar .offcanvas {
  background: #1c1e53 !important;
}
.navbar .offcanvas-body {
  color: white;
}
.navbar .navbar-toggler {
  color: white;
  background: white;
}

#work {
  background: #f4f6fc;
}

.work_page {
  text-align: center;
}
.work_page p {
  padding: 96px 0 4px 0;
  color: var(--dark-blue, #282938);
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 175% */
}
.work_page h1 {
  padding-bottom: 24px;
  color: var(--dark-blue, #282938);
  text-align: center;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 64px; /* 133.333% */
}
.work_page h5 {
  color: var(--dark-blue, #282938);
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 175% */
}
.work_page .icon img {
  padding-top: 32px;
  padding-bottom: 96px;
  padding-left: 15px;
}

.design ul {
  display: flex;
  margin: 0 auto;
  gap: 15px;
}
.design ul li a {
  text-align: center;
  align-items: center;
  text-decoration: none;
  color: black;
}

#foot {
  background: #1c1e53;
  padding: 100px;
}

.father {
  align-items: center;
}
.father .child .card-fath {
  display: flex;
  padding: 1px 1px;
  background: var(--yellow, #fcd980);
}
.father .child .card-fath .card-1 {
  padding-left: 50px;
}
.father .child .card-fath .card-1 h4 {
  color: var(--dark-blue, #282938);
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 100;
  line-height: 31px; /* 177.778% */
}
.father .child .card-fath .card-2 {
  padding-left: 50px;
}
.father .child .img {
  gap: 50px;
}
.father .child p {
  color: var(--dark-blue, #282938);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 100;
  line-height: 29px; /* 175% */
}
.father .child h3 {
  color: #fff;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 64px; /* 133.333% */
}

#ai {
  color: white;
}

.gap .gap_c img {
  width: 100%;
}