#building {
  background: #1c1e53;
}

.navbar {
  background: #1c1e53 !important;
  a {
    color: white;
  }
  a:hover {
    color: #bbbbcb;
  }
  .btn {
    color: white;
    border: 1px solid black;
    width: 145px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 41px;
    border: 2px solid rgba(244, 246, 252, 0.2);
  }
  .btn:hover {
    color: #bbbbcb;
  }
  .offcanvas {
    background: #1c1e53 !important;
  }
  .offcanvas-body {
    color: white;
  }
  .navbar-toggler {
    color: white;
    background: white;
  }
}

#about {
  padding-top: 152px;
  padding-bottom: 7px;
}
.about-us {
  display: flex;
  justify-content: space-between;
  .word__about {
    h5 {
      color: var(--dark-blue, #282938);
      font-family: Poppins;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 32px;
    }
    h1 {
      color: var(--dark-blue, #282938);
      font-family: Poppins;
      font-size: 54px;
      font-style: normal;
      font-weight: 600;
      line-height: 74px;
    }
    p {
      color: var(--dark-blue, #282938);
      text-align: justify;
      font-family: Poppins;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px;
    }
  }
  .img__about {
 img {
  width: 100%;
 }
  }
}

.goal__father {
  display: flex;
  justify-content: space-evenly;
  background: #f4f5f5;
  padding: 96px 0;
  .goal__first {
    h1 {
      color: var(--dark-blue, #282938);
      font-family: Poppins;
      font-size: 38px;
      font-style: normal;
      font-weight: 600;
      line-height: 56px;
      p {
        color: var(--dark-blue, #282938);
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
      }
    }
  }
  .goal_second {
    h1 {
      color: var(--dark-blue, #282938);
      font-family: Poppins;
      font-size: 38px;
      font-style: normal;
      font-weight: 600;
      line-height: 56px;
    }
    p {
      color: var(--dark-blue, #282938);
      font-family: Poppins;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px;
    }
  }
  .images {
    width: 100%;
  }
}

#meet {
  background: var(--grey, #f4f6fc);
}

.father__meet {
  padding: 256px 0;
  .word__meet {
    padding-bottom: 50px;
  }
  .meet {
    padding: 12px 40px 16px 20px;
    background: white;

    img {
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    h1 {
      color: var(--b, #1d2130);
      font-family: Poppins;
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: 36px;
    }
    p {
      color: var(--b, #1d2130);
      font-family: Poppins;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 128px;
    }
  }
}
#foot {
  background: #1c1e53;
  padding: 100px;
}

.father {
  align-items: center;
  .child {
    .card-fath {
      display: flex;
      padding: 1px 1px;
      background: var(--yellow, #fcd980);
      .card-1 {
        padding-left: 50px;
        h4 {
          color: var(--dark-blue, #282938);
          font-family: Poppins;
          font-size: 18px;
          font-style: normal;
          font-weight: 100;
          line-height: 31px; /* 177.778% */
        }
      }
      .card-2 {
        padding-left: 50px;
      }
    }
    .img {
      gap: 50px;
    }
    p {
      color: var(--dark-blue, #282938);
      font-family: Poppins;
      font-size: 16px;
      font-style: normal;
      font-weight: 100;
      line-height: 29px; /* 175% */
    }
    h3 {
      color: #fff;
      font-family: Poppins;
      font-size: 48px;
      font-style: normal;
      font-weight: 600;
      line-height: 64px; /* 133.333% */
    }
  }
}

