#building {
  background: #1c1e53;
}

.navbar {
  background: #1c1e53 !important;
  a {
    color: white;
  }
  a:hover {
    color: #bbbbcb;
  }
  .btn {
    color: white;
    border: 1px solid black;
    width: 145px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 41px;
    border: 2px solid rgba(244, 246, 252, 0.2);
  }
  .btn:hover {
    color: #bbbbcb;
  }
  .offcanvas {
    background: #1c1e53 !important;
  }
  .offcanvas-body {
    color: white;
  }
  .navbar-toggler {
    color: white;
    background: white;
  }
}

#work {
  background: #f4f6fc;
}
.work_page {
  text-align: center;
  p {
    padding: 96px 0 4px 0;
    color: var(--dark-blue, #282938);
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; /* 175% */
  }
  h1 {
    padding-bottom: 24px;
    color: var(--dark-blue, #282938);
    text-align: center;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 64px; /* 133.333% */
  }
  h5 {
    color: var(--dark-blue, #282938);
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; /* 175% */
  }
  .icon {
    img {
      padding-top: 32px;
      padding-bottom: 96px;
      padding-left: 15px;
    }
  }
}

.design {
  ul {
    display: flex;
    margin: 0 auto;
    gap: 15px;
    li {
      a {
        text-align: center;
        align-items: center;
        text-decoration: none;
        color: black;
      }
    }
  }
}

#foot {
  background: #1c1e53;
  padding: 100px;
}

.father {
  align-items: center;
  .child {
    .card-fath {
      display: flex;
      padding: 1px 1px;
      background: var(--yellow, #fcd980);
      .card-1 {
        padding-left: 50px;
        h4 {
          color: var(--dark-blue, #282938);
          font-family: Poppins;
          font-size: 18px;
          font-style: normal;
          font-weight: 100;
          line-height: 31px; /* 177.778% */
        }
      }
      .card-2 {
        padding-left: 50px;
      }
    }
    .img {
      gap: 50px;
    }
    p {
      color: var(--dark-blue, #282938);
      font-family: Poppins;
      font-size: 16px;
      font-style: normal;
      font-weight: 100;
      line-height: 29px; /* 175% */
    }
    h3 {
      color: #fff;
      font-family: Poppins;
      font-size: 48px;
      font-style: normal;
      font-weight: 600;
      line-height: 64px; /* 133.333% */
    }
  }
}

#ai {
  color: white;
}
.gap {
  .gap_c {
    img {
      width: 100%;
    }
  }
}
